@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', 'sans-serif';
    font-size: x-large;
    font-weight: bolder;
    color: bisque;
}
body {
    background-color:#bb3e03;
    height: 100%;
    margin: 0;
}

.container {
    padding: 50px 200px 0px; 
    max-width: 100%; 
    min-height: 100%;
}

#top {
    background-color: #005f73;
    height: 100px;
    width: 100%;
    display: flex;
}

#top > h1 {
    margin-left: 1em;
    margin-top: 20px;
}

#top > ul {
    display: flex;
    margin: auto;
    margin-right: 2em;
    list-style: none;
}

#top > ul > li {
    margin: 5px 20px;
}

.profile_image {
    width:100%;
    height: 25%;
}

.profile_image > img {
    width: 20%;
    height: 40vh;
    border: 3px solid white;
    border-radius: 100%;
    float: left;
}

.about_me {
    padding-left: 2rem; 
    padding-right: 2rem; 
    width: 60%; 
    color: #0a9396;
    float: right;
}

h1 {
    font-size: 36px;
    font-weight: 900; 
    margin-bottom: 16px; 
    margin-top: 0px; 
}

i {
    color: black;
}

#button {
    background-color: #ee9b00;
    border: 2px solid white; 
    border-radius: 5px;
    padding: 8px; 
    margin-top: 16px; 
    float:left; 
    color: #0a9396;
}


.about_me span:first-of-type {
    font-style: italic;
}

footer {
    margin-top: 80vh;
    background-color: #005f73;
    height: 100px;
    width: 100%;
    display: sticky;
    text-align: right;
}



